* {
	font-family: "Calibri", sans-serif;
	user-select: none !important;
	outline: none;
	color: #444;
	box-sizing:  border-box;
}
body {
	margin: 0;
	padding: 0;
	background: #f7f7f7;
	max-height:  100vh;
	min-height: 100vh;
	overflow:  hidden;
}
a {
	text-decoration: none;
}
/* Header */
#inky-header {
	padding: 7px;
	background: #fff;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.05);
}
#inky-header #inky-logo {
	font-size: 28px;
	padding: 0;
	margin:  0;
}
#inky-header #inky-logo i {
	color: #5ce794;
}
/* Artboards */
/* Artboard Thumbnails */
.artboard-thumb {
    width: 33.333%;
    padding: 10px;
    display: inline-block;
}
/* ArtBoard */
#inky-artboard {
    width: calc(100% - 50px);
    float: right;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.05) inset;
}
#inky-artboard canvas#artboard {
	margin: 35px auto;
	background: #fff;
	display: block;
	min-width: 90%;
	max-width: 90%;
	cursor: pointer;
}
/* Actions Panel */
#inky-action-bar {
	position:  absolute;
	left: 0;
	bottom:  0;
	top: 48px;
	background-color: #fff;
	width:  50px;
}
.action-group + .action-group {
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}
.action-item {
	font-size:  25px;
	padding: 9.5px 14px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.action-item:hover {
    background:  #eee;
}
/* ArtboardNew */
#inky-artboardnew > form {
	padding: 30px 15px;
	width: 100%;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.05);
}
/* Header nav */
ul#inky-nav {
	display:  inline;
	float: right;
	margin: 7px 0 0;
	padding:  0;
	font-size:  18px;
	vertical-align:  middle;
}
.nav {
	display: inline;
}
.nav .nav-item {
	display:  inline;
}
.nav .nav-item a {
	padding: 5px 15px;
	border-radius: 3px;
	cursor: pointer;
}
.nav .nav-item a:hover {
	background: #eee;
}
.nav-item a {
    font-weight:  bold;
}
.nav-item a:hover i.fa.fa-cog {
	animation: spin 2s infinite .3s;
}
@keyframes spin {
	from, 0% {
		transform: rotateZ(0deg);
	}
	to, 100% {
		transform: rotateZ(360deg);
	}
}
/* Misc */
.pull-right { float: right; }
.pull-left { float: left; }
.item-vertical { display: block; }
.unstyle {
	list-style: none;
	margin: 0;
	padding: 0;
}
.content {
	width: 960px;
	margin:  0 auto;
	display:  block;
}
input[type="text"] {
	border-radius: 3px;
	border: 2px solid #eee;
	padding: 7px 12px;
}